.create-account-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5rem 2rem 2rem 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto;
  }
  
  .create-account-container h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 1.5rem;
  }
  
  .create-account-container label {
    font-weight: bold;
    color: #e0e0e0;
  }
  
  .create-account-container input[type="email"],
  .create-account-container input[type="text"],
  .create-account-container input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0 1.25rem 0;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
  }
  
  .create-account-container input[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color: #6A11CB;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-account-container input[type="submit"]:hover {
    background-color: #4b0ba6;
  }
  